* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
body
{
    background-image: url(../../resources/background_image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container
{
    width: 1150px;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.856);
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
}

header *
{
    display: inline;
    width: 100%
}

header
{
    background-color: rgb(145, 145, 145);
    height:auto;
    border-bottom: 2px solid black;
}

#image1

{
    width: 8%;
    margin-right: 2em;
    padding: 0.5em;
}

header h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color:rgb(44, 44, 44)

}

header a
{
    color: black;
    background-color:whitesmoke;
    width: 8em;
    height: 2.75em;
    padding: 0.60em;
    text-align: center;
    display:inline-block;
    margin-left: 25em;
    border: 1.5px solid black;
    border-radius: 3px;
}

header a:hover
{
    background-color:rgb(207, 207, 207)
}


main
{
    font-family: Lato;
}



footer
{
    text-align: center;
    height: 2em;
    padding: 0.5em;
    margin-top: 1em;
    background-color: rgb(29, 28, 28);
    color:whitesmoke;
}

@media all and (max-width: 960px)
{

}